/**job**/
#other-title{
}
/**shirts**/
#colors-js-puns {
}
#colors-js-puns.active-menu{
    display: block;
}
#color option{
}
#color .active-color{
    display: block;
}
.hide{
    display: none;
}
/*event**/
.disable-activity{

    color: grey;
}
/**payment **/
.disable-payment{
    display: none;
}
div .active-payment{
    display: block;
}

/**validate**/

input.required-input{
    border: 2px solid tomato;
}
label.required-input,
fieldset.required-input legend{
    color: tomato;
}