/**job**/
#other-title{
    display: none;
}
/**shirts**/
#colors-js-puns {
    display: none;
}
#colors-js-puns.active-menu{
    display: block;
}
#color option{
    display: none;
}
#color .active-color{
    display: block;
}
/*event**/
.disable-activity{

    color: grey;
}
/**payment **/
.disable-payment{
    display: none;
}
div .active-payment{
    display: block;
}